<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
</head>
<body>

    {% extends 'base.html'%}

    {% block content %}

    <h1>Task</h1>

    {% for task in tasks %}
    <ul>
        <li>
            Title: <a href="{% url 'task-detail' task.id %}">{{task.title}} </a>
    
            {% if task.important == True %}❗{% endif %}
        </li>
        <li>
            Description: {{task.description}}
        </li>
        <li>
            Created : {{task.created}}
        </li>
    </ul>
    {% endfor %}

    {% endblock %}
    
</body>
</html>